@font-face{
	font-family:AritaDotum;
	font-style:normal;
	font-weight:400;
	src: url(../assets/fonts/AritaDotumKR-Medium.woff2) format("woff2"),
  	url(../assets/fonts/AritaDotumKR-Medium.woff) format("woff"),
	url(../assets/fonts/AritaDotumKR-Medium.ttf) format("truetype");
	font-display:swap
}
@font-face{
	font-family:AritaDotum;
	font-style:normal;
	font-weight:500;
	src:url(../assets/fonts/AritaDotumKR-SemiBold.woff2) format("woff2"),
  	url(../assets/fonts/AritaDotumKR-SemiBold.woff) format("woff"),
	url(../assets/fonts/AritaDotumKR-SemiBold.ttf) format("truetype");
	font-display:swap
}
@font-face{
	font-family:Buri;
	font-style:normal;
	font-weight:400;
	src:url(../assets/fonts/AritaBuriKR-SemiBold.woff2) format("woff2"),
 	url(../assets/fonts/AritaBuriKR-SemiBold.woff) format("woff"),
	url(../assets/fonts/AritaBuriKR-SemiBold.ttf) format("truetype");
	font-display:swap
}
@font-face{
	font-family:aphq;
	font-style:normal;
	font-weight:400;
	src:url(../assets/fonts/APHQ-REGULAR.OTF) format('opentype');
	font-display:swap
}
@font-face{
	font-family:aphq;
	font-style:normal;
	font-weight:700;
	src:url(../assets/fonts/APHQ-BOLD.OTF) format('opentype');
	font-display:swap
}
@font-face{
	font-family:aphq;
	font-style:normal;
	font-weight:400;
	src:url(../assets/fonts/APHQHangeul.eot);
	src:url(../assets/fonts/APHQHangeul.eot?#iefix) format("embedded-opentype"),
	url(../assets/fonts/APHQHangeul.woff2) format("woff2"),
	url(../assets/fonts/APHQHangeul.woff) format("woff"),
	url(../assets/fonts/APHQHangeul.ttf) format("truetype"),
	url(../assets/fonts/APHQHangeul.otf) format("opentype");
	unicode-range:U+AC00-D7A3;
	font-display:swap
}
@font-face{
	font-family:aphq;
	font-style:normal;
	font-weight:700;
	src:url(../assets/fonts/APHQHangeul.eot);
	src:url(../assets/fonts/APHQHangeul.eot?#iefix) format("embedded-opentype"),
	url(../assets/fonts/APHQHangeul.woff2) format("woff2"),
	url(../assets/fonts/APHQHangeul.woff) format("woff"),
	url(../assets/fonts/APHQHangeul.ttf) format("truetype"),
	url(../assets/fonts/APHQHangeul.otf) format("opentype");
	unicode-range:U+AC00-D7A3;
	font-display:swap
}
@font-face{
	font-family: NotoSans;
	font-style:normal;
	font-weight:600;
	src:url(../assets/fonts/NotoSans-SemiBold.woff2) format("woff2"),
		url(../assets/fonts/NotoSans-SemiBold.otf) format("opentype");
	font-display:swap
}
@font-face{
	font-family: NotoSans;
	font-style:normal;
	font-weight:600;
	src: url(../assets/fonts/NotoSansSC-Bold.woff2) format("woff2"),
		 url(../assets/fonts/NotoSansSC-Bold.otf) format("opentype");
	unicode-range:U+4E00-9FCC;
	font-display:swap
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 400;
 src: url(../assets/fonts/NanumSquareR.eot);
 src: url(../assets/fonts/NanumSquareR.eot?#iefix) format('embedded-opentype'),
      url(../assets/fonts/NanumSquareR.woff2) format('woff2'),
      url(../assets/fonts/NanumSquareR.woff) format('woff'),
      url(../assets/fonts/NanumSquareR.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 700;
 src: url(../assets/fonts/NanumSquareB.eot);
 src: url(../assets/fonts/NanumSquareB.eot?#iefix) format('embedded-opentype'),
      url(../assets/fonts/NanumSquareB.woff2) format('woff2'),
      url(../assets/fonts/NanumSquareB.woff) format('woff'),
      url(../assets/fonts/NanumSquareB.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 800;
 src: url(../assets/fonts/NanumSquareEB.eot);
 src: url(../assets/fonts/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
      url(../assets/fonts/NanumSquareEB.woff2) format('woff2'),
      url(../assets/fonts/NanumSquareEB.woff) format('woff'),
      url(../assets/fonts/NanumSquareEB.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 300;
 src: url(../assets/fonts/NanumSquareL.eot);
 src: url(../assets/fonts/NanumSquareL.eot?#iefix) format('embedded-opentype'),
      url(../assets/fonts/NanumSquareL.woff2) format('woff2'),
      url(../assets/fonts/NanumSquareL.woff) format('woff'),
      url(../assets/fonts/NanumSquareL.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquareAc';
 font-weight: 400;
 src: url(../assets/fonts/NanumSquareAcR.eot);
 src: url(../assets/fonts/NanumSquareAcR.eot?#iefix) format('embedded-opentype'),
      url(../assets/fonts/NanumSquareAcR.woff2) format('woff2'),
      url(../assets/fonts/NanumSquareAcR.woff) format('woff'),
      url(../assets/fonts/NanumSquareAcR.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquareAc';
 font-weight: 700;
 src: url(../assets/fonts/NanumSquareAcB.eot);
 src: url(../assets/fonts/NanumSquareAcB.eot?#iefix) format('embedded-opentype'),
      url(../assets/fonts/NanumSquareAcB.woff2) format('woff2'),
      url(../assets/fonts/NanumSquareAcB.woff) format('woff'),
      url(../assets/fonts/NanumSquareAcB.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquareAc';
 font-weight: 800;
 src: url(../assets/fonts/NanumSquareAcEB.eot);
 src: url(../assets/fonts/NanumSquareAcEB.eot?#iefix) format('embedded-opentype'),
      url(../assets/fonts/NanumSquareAcEB.woff2) format('woff2'),
      url(../assets/fonts/NanumSquareAcEB.woff) format('woff'),
      url(../assets/fonts/NanumSquareAcEB.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquareAc';
 font-weight: 300;
 src: url(../assets/fonts/NanumSquareAcL.eot);
 src: url(../assets/fonts/NanumSquareAcL.eot?#iefix) format('embedded-opentype'),
      url(../assets/fonts/NanumSquareAcL.woff2) format('woff2'),
      url(../assets/fonts/NanumSquareAcL.woff) format('woff'),
      url(../assets/fonts/NanumSquareAcL.ttf) format('truetype');
}