@charset "UTF-8";
.home-brands-h,
.home-glance-h,
.home-intro .slide-h,
.home-news-h {
  line-height: 1.2;
  font-family: NanumSquareAc, NotoSans, AritaDotum, Buri, serif;
}
.home-news .thumb-desc,
.home-notice-cont {
  word-break: keep-all;
  word-wrap: break-word;
}
.home-brands-h,
.home-glance .item-data,
.home-glance-h,
.home-intro .slick-pager b,
.home-intro .slide-deco,
.home-intro .slide-h,
.home-news-h,
.home-notice-ceo b {
  font-family: NanumSquareAc, NotoSans, AritaDotum, serif, sans-serif;
}
.home-brands-h,
.home-glance-h,
.home-news-h {
  font-size: 2.4em;
  text-align: center;
  color: #222;
  letter-spacing: -0.02em;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 37.5em) {
  .home-brands-h br,
  .home-glance-h br,
  .home-news-h br {
    display: none;
  }
}
@media (min-width: 48em) {
  .home-brands-h,
  .home-glance-h,
  .home-news-h {
    font-size: 3.0em;
  }
}
.home-intro {
  visibility: hidden;
  position: relative;
}
.home-intro:after {
  content: "";
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#valuePercent)";
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: 10;
  -webkit-transition:
    visibility 0s 0.3s,
    opacity 0.3s;
  -o-transition:
    visibility 0s 0.3s,
    opacity 0.3s;
  transition:
    visibility 0s 0.3s,
    opacity 0.3s;
}
.home-intro.is-video-open:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#valuePercent)";
  filter: alpha(opacity=80);
  opacity: 0.8;
  -webkit-transition:
    visibility 0s 0s,
    opacity 0.3s;
  -o-transition:
    visibility 0s 0s,
    opacity 0.3s;
  transition:
    visibility 0s 0s,
    opacity 0.3s;
}
.home-intro .slide-h,
.home-intro .slide-more,
.home-intro .slide-sub,
.home-intro .slider,
.home-notice {
  visibility: hidden;
}
.home-intro > .slick-next,
.home-intro > .slick-prev {
  display: none;
}
.home-intro .slick-slider {
  overflow: hidden;
}
.home-intro .slick-slider .slide {
  display: block;
}
.home-intro .slick-arrow {
  position: absolute;
  overflow: hidden;
  margin-top: -26px;
  padding: 10px;
  bottom: 23px;
  z-index: 52;
}
.home-intro .slick-prev {
  left: 10px;
}
.home-intro .slick-next {
  right: 10px;
}
.home-intro .slick-controller {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 51;
}
.home-intro .slick-pager {
  display: block;
  position: relative;
  margin: 0 auto;
  background-color: #f5f5f5;
}
.home-intro .slick-pager li {
  margin: 0;
  display: none;
}
.home-intro .slick-pager li.is-current {
  display: inline-block;
  width: 100%;
}
.home-intro .slick-pager li.is-current b {
  color: #222;
}
.home-intro .slick-pager button {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.home-intro .slick-pager b {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-weight: 400;
  padding: 21px 0 28px;
  font-size: 2em;
  color: rgba(34, 34, 34, 0.3);
  letter-spacing: -0.02em;
}
.home-intro .slick-progress {
  width: 100%;
  height: 7px;
  background: #f5f5f5;
}
.home-intro .slick-progress-bar {
  width: 0;
  height: 7px;
  background: #005295;
}
.home-intro .slide {
  display: none;
  position: relative;
  background: 50% 50% no-repeat;
  background-size: cover;
}
.home-intro .slide-spacer {
  position: relative;
  overflow: hidden;
  height: 100vh;
  min-height: calc(100vh - 60px);
  text-align: center;
  z-index: 1;
}
.no-cssvhunit .home-intro .slide-spacer {
  height: 518px;
}
.home-intro .slide-placer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  white-space: nowrap;
  z-index: 2;
}
.home-intro .slide-placer .slide-content {
  display: inline-block;
  min-width: 100%;
  vertical-align: middle;
  white-space: normal;
}
.home-intro .slide-placer:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 90%;
}
.home-intro .slide:first-child {
  display: block;
}
.home-intro .slide-deco {
  color: #fff;
  font-size: 1.6em;
  letter-spacing: 0.03em;
  position: relative;
  display: inline-block;
  visibility: hidden;
}
.home-intro .slide-deco:after,
.home-intro .slide-deco:before {
  content: "";
  position: absolute;
  top: 10px;
  width: 30px;
  height: 1px;
  background-color: #fff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#valuePercent)";
  filter: alpha(opacity=20);
  opacity: 0.2;
}
.home-intro .slide-deco:after {
  right: 105%;
}
.home-intro .slide-deco:before {
  left: 105%;
}
.home-intro .slide-h {
  margin-top: 0.40541em;
  padding: 0 10px;
  color: #fff;
  font-size: 4.2em;
  letter-spacing: -0.03em;
}
.home-intro .slide-sub {
  display: none;
  color: #fff;
}
.home-intro .slide-video {
  position: absolute;
}
.home-intro .slide-video:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.35;
  z-index: 1;
}
.home-glance .item:after,
.home-glance .item:before,
.home-news .thumb:after,
.home-news .thumb:before {
  content: "";
}
.home-intro .slide-video video,
.home-intro .slide-video > iframe {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  pointer-events: none;
}
@media (min-width: 48em) {
  .home-intro .slick-arrow {
    bottom: 50%;
    margin-top: 32.5px;
  }
  .home-intro .slick-pager li {
    float: left;
    width: 33.33333%;
    display: inline-block;
  }
  .home-intro .slick-pager li.is-current {
    width: 33.33333%;
  }
  .home-intro .slick-pager li.is-current b {
    border-bottom: 3px solid #444;
  }
  .home-intro .slide-placer:after {
    height: 100%;
  }
  .home-intro .slide-deco {
    font-size: 1.8em;
    width: auto;
  }
  .home-intro .slide-deco:after,
  .home-intro .slide-deco:before {
    width: 80px;
  }
  .home-intro .slide-h {
    font-size: 6em;
  }
}
@media (min-width: 64em) {
  .home-intro .slide-spacer {
    height: 100vh;
  }
  .no-cssvhunit .home-intro .slide-spacer {
    height: 600px;
  }
}
@media (min-width: 80em) {
  .home-intro .slick-prev {
    left: 40px;
  }
  .home-intro .slick-next {
    right: 40px;
  }
  .home-intro .slide-placer {
    width: 50%;
    margin: 0 auto;
  }
  .home-intro .slide-sub {
    display: inline-block;
    font-size: 1.8em;
  }
}
@media (min-width: 100em) {
  .home-intro .slide-placer {
    width: 39.5%;
  }
}
.home-news {
  padding-top: 50px;
  padding-bottom: 40px;
}
.home-news .l-wide {
  position: relative;
}
.home-news-h {
  margin-bottom: 30px;
}
.home-news-list {
  border-top: 1px solid #e0e0e0;
}
.home-news .thumb {
  zoom: 1;
  border-bottom: 1px solid #e0e0e0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.6em;
  line-height: 1.4;
}
.home-news .thumb:before {
  display: block;
}
.home-news .thumb:after {
  display: table;
  clear: both;
}
.home-news .thumb-block {
  float: right;
  width: 33.33333%;
  margin-left: 10px;
}
.home-news .thumb-img {
  height: 0;
  padding-bottom: 100%;
}
.home-news .thumb-desc {
  float: left;
  width: 58.33333%;
  margin: 0.5em 0;
  height: 62px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.home-news .thumb-img img {
  width: 100%;
}
.home-news .thumb a:focus .thumb-desc,
.home-news .thumb a:hover .thumb-desc {
  color: #005295;
  text-decoration: underline;
}
.home-news .more {
  text-align: center;
  margin-top: 7.8125%;
}
@media (min-width: 48em) {
  .home-news {
    padding-top: 100px;
    padding-bottom: 80px;
  }
  .home-news-h {
    text-align: left;
  }
  .home-news-list {
    border-top: 0 none;
  }
  .home-news .thumb {
    border-bottom: 0 none;
    font-size: 1.8em;
  }
  .home-news .thumb-block {
    float: none;
    width: 100%;
    margin-left: 0;
  }
  .home-news .thumb-desc {
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  .home-news .more {
    position: absolute;
    top: 0;
    right: 10px;
    margin: 0;
  }
}
.home-brands .slider-detail,
.home-notice {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.home-glance {
  padding-top: 60px;
  padding-bottom: 50px;
  background: #005295;
}
.home-glance-h {
  color: #fff;
  margin-bottom: 20px;
}
.home-glance .item {
  position: relative;
  text-align: center;
  padding: 10px 20px;
  zoom: 1;
}
.home-glance .item:before {
  display: block;
}
.home-glance .item:after {
  display: table;
  clear: both;
}
.home-brands .slick-overlay,
.home-brands .slide:before,
.home-notice:before {
  content: "";
}
.home-glance .item-emblem {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
}
.home-glance .item-emblem img {
  display: none;
}
.home-glance .item-emblem .svg,
.home-glance .item-emblem svg {
  display: inline;
  width: 130px;
  height: 130px;
}
.no-inlinesvg .home-glance .item-emblem img {
  display: inline-block;
}
.no-inlinesvg .home-glance .item-emblem .svg {
  display: none;
}
.home-glance .item-data {
  margin: 0;
  line-height: 2.1;
}
.home-glance .item-data b {
  font-size: 7em;
  font-weight: 400;
  color: #fff;
}
.home-glance .item-data em {
  font-size: 3.7em;
  color: #fff;
}
@media (min-width: 48em) {
  .home-glance {
    padding-top: 120px;
    padding-bottom: 100px;
  }
  .home-glance-h {
    margin-bottom: 50px;
  }
  .home-glance .item {
    padding: 30px 20px;
  }
  .home-glance .item-emblem .svg,
  .home-glance .item-emblem svg {
    width: 180px;
    height: 180px;
  }
  .home-glance .item-data {
    line-height: 1.8;
  }
  .home-glance .item-data b {
    font-size: 8.5em;
  }
  .home-glance .item-data em {
    fomt-soze: 4.5em;
  }
}
.home-brands {
  position: relative;
  padding: 60px 5% 50px;
}
.home-brands-h {
  margin-bottom: 40px;
}
.home-brands .slick-slide .slide-img {
  width: 100%;
}
.home-brands .slick-overlay {
  position: absolute;
  width: 0;
  top: 0;
  bottom: 0;
  background: #000;
  opacity: 0.3;
  z-index: 1;
}
.no-backgroundblendmode .home-brands .slick-overlay {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#valuePercent)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.home-brands .slick-overlay-left {
  left: 0;
}
.home-brands .slick-overlay-right {
  right: 0;
}
.home-brands .slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  padding: 0;
  z-index: 1;
}
.home-brands .slick-prev {
  left: 10px;
}
.home-brands .slick-next {
  right: 10px;
}
.home-brands .slick-dots {
  top: auto;
  bottom: -50px;
}
.home-brands .slider {
  position: relative;
}
.home-brands .slider-detail {
  background: #f5f5f5;
  padding: 40px 8.33333%;
  box-sizing: border-box;
}
.home-brands .slider-detail .item {
  text-align: center;
  overflow: hidden;
}
.home-brands .slide {
  overflow: hidden;
  position: relative;
}
.home-brands .slide:before {
  display: block;
  height: 0;
  padding-bottom: 100%;
}
.home-brands .slide-img {
  position: absolute;
  right: 0;
  top: 0;
  max-width: none;
}
.home-brands .slide-cont {
  display: none;
}
.home-brands .slide-h {
  margin: 20px 0;
}
.home-brands .slide-desc {
  font-size: 1.5em;
  margin-bottom: 20px;
}
@media (max-width: 47.99em) {
  .home-brands .slider-detail {
    width: auto !important;
    height: 100%;
  }
}
@media (min-width: 48em) {
  .home-brands {
    padding-top: 120px;
    padding-left: 0;
    padding-right: 0;
  }
  .home-brands .slider-detail {
    position: absolute;
    top: 0;
    bottom: 0;
    background: #f5f5f5;
    margin-top: 0;
    padding-left: 5%;
    padding-right: 5%;
    white-space: nowrap;
  }
  .home-brands .slider-detail .slider-texts-list {
    display: inline-block;
    min-width: 100%;
    vertical-align: middle;
    white-space: normal;
  }
  .home-brands .slider-detail:after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .home-brands .slide:before {
    content: "";
    display: block;
    height: 0;
    padding-bottom: 50%;
  }
}
.home-notice-btn.home-notice-close,
.home-notice.is-opened .home-notice-more,
.home-notice.is-opened:before {
  display: none;
}
@media (min-width: 64em) {
  .home-brands .slide-desc {
    font-size: 1.8em;
  }
}
@media (min-width: 80em) {
  .home-brands .slick-prev {
    left: 40px;
  }
  .home-brands .slick-next {
    right: 40px;
  }
}
.home-notice {
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
  min-height: 290px;
  z-index: 300;
  color: #fff;
  background-color: #054b84;
  background-color: rgba(5, 75, 132, 0.93);
  box-sizing: border-box;
}
.home-notice ::-webkit-scrollbar {
  width: 11px;
}
.home-notice ::-webkit-scrollbar-thumb {
  background: #92b4e2;
}
.home-notice:before {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 290px;
  z-index: 1;
  background: #054b84;
  background: -moz-linear-gradient(
    legacy-direction(to top),
    #054b84 25%,
    rgba(5, 75, 132, 0) 100%
  );
  background: -webkit-linear-gradient(
    legacy-direction(to top),
    #054b84 25%,
    rgba(5, 75, 132, 0) 100%
  );
  background: linear-gradient(to top, #054b84 25%, rgba(5, 75, 132, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#054b84 25%', endColorstr='rgba(5, 75, 132, 0) 100%', GradientType=1 );
}
.home-notice-wrap {
  position: relative;
  padding: 50px 8.33333%;
}
.home-notice-h {
  font-size: 2.6em;
  line-height: 1.3;
  letter-spacing: -0.03em;
  margin-bottom: 20px;
}
.home-notice-cont {
  font-size: 1.5em;
  letter-spacing: -0.03em;
  color: #e8ecf1;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  scrollbar-face-color: #92b4e2;
  scrollbar-arrow-color: #92b4e2;
  scrollbar-shadow-color: #92b4e2;
  scrollbar-track-color: rgba(5, 75, 132, 0.93);
}
.home-notice-ceo {
  color: #d8ddea;
}
.home-notice-ceo b {
  font-size: 1.46667em;
  margin-left: 10px;
}
.home-notice-btn {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  z-index: 2;
  text-align: center;
}
.home-notice .btn-close {
  position: absolute;
  top: 50px;
  right: 8.33333%;
  z-index: 10;
  color: #fff;
  padding: 0;
  font-size: 25px;
}
.home-notice.is-opened {
  top: 0;
}
.home-notice.is-opened .home-notice-cont {
  overflow-y: scroll;
}
.home-notice.is-opened .home-notice-close {
  display: block;
}
@media (min-width: 48em) {
  .home-notice {
    top: auto;
    height: 235px;
    min-height: 235px;
  }
  .home-notice:before {
    display: none;
  }
  .home-notice-wrap {
    padding: 50px 10px;
    zoom: 1;
  }
  .home-notice-wrap:before {
    content: "";
    display: block;
  }
  .home-notice-wrap:after {
    content: "";
    display: table;
    clear: both;
  }
  .home-notice-h {
    font-size: 3.2em;
    float: left;
    width: 25%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  .home-notice-h br {
    display: none;
  }
  .home-notice-h span {
    display: block;
  }
  .home-notice-cont {
    float: left;
    font-size: 1.6em;
    width: 75%;
    max-height: 150px;
    overflow-y: scroll;
    padding-right: 8.33333%;
  }
  .home-notice-cont p {
    margin: 1.5em 0;
  }
  .home-notice-cont p:first-child {
    margin-top: 0;
  }
  .home-notice-ceo b {
    font-size: 1.375em;
  }
  .home-notice-btn {
    display: none;
  }
  .home-notice .btn-close {
    font-size: 36px;
    top: 50px;
    right: 10px;
  }
}
@media (min-width: 80em) {
  .home-notice .btn-close {
    right: 40px;
  }
}
.slide-h-red {
  display: none;
}
.slide-content-red {
  position: absolute;
  bottom: 18.5%;
  left: 0;
  right: 0;
  z-index: 2;
}
.home-news .thumb-desc {
  font-family:
    aphq, AritaDotum, "Malgun Gothic", "맑은 고딕", "Nanum Gothic", "나눔 고딕",
    "돋움", dotum, sans-serif;
}
@media (min-width: 48em) {
  .slide-content-red {
    bottom: 172px;
  }
}
@media (min-width: 100em) {
  .home-intro .slide-placer {
    width: 50%;
  }
}
@media (min-width: 80em) {
  .home-intro .slide-placer {
    width: 63%;
  }
}
.home-news .thumb-desc {
  -webkit-line-clamp: 2;
  -ms-line-clamp: 2;
  -moz-line-clamp: 2;
  -o-line-clamp: 2;
  line-clamp: 2;
  height: 44px;
}
@media (min-width: 48em) {
  .home-news .thumb-desc {
    height: 62px;
  }
}

.culture_slide {
  background: url(/int/ko/resource/images/main/culture_slider/content/culture_slide_bg.png)
    no-repeat center 0;
  padding: 118px 0 110px 0;
  background-size: 100% 51%;
}
.culture_slide .home-brands-h {
  color: #fff;
}
.culture_slide .slider.slider-for .slide {
  margin: 0 0.7%;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.culture_slide .slider.slider-for .slick-slide img {
  margin-left: auto;
  margin-right: auto;
}
.culture_slide .slider.slider-for .slick-slide {
  position: relative;
  -webkit-transform: scale(0.82);
  -moz-transform: scale(0.82);
  -ms-transform: scale(0.82);
  -o-transform: scale(0.82);
  transform: scale(0.82);
}
.culture_slide .slider.slider-for .slick-slide::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #222222;
  opacity: 0.5;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.culture_slide .slider.slider-for .slick-slide.slick-center {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.culture_slide .slider.slider-for .slick-slide.slick-center::before,
.culture_slide .slider.slider-nav .slick-slide::before {
  background: none;
}
.culture_slide .slider.slider-for .slick-dots {
  -webkit-transform: translate(-50%, -10px);
  -ms-transform: translate(-50%, -10px);
  -o-transform: translate(-50%, -10px);
  transform: translate(-50%, -10px);
  background: transparent;
  background-color: transparent;
  border-radius: 0;
  margin-top: 40px;
}
.culture_slide .slider.slider-for .btn-r {
  position: absolute;
  top: 47%;
  z-index: 1;
}
.culture_slide .slider.slider-for .btn-r-left {
  left: 40px;
}
.culture_slide .slider.slider-for .btn-r-right {
  right: 40px;
}
.culture_slide .slider.slider-nav .slide-cont {
  text-align: center;
  max-width: 640px;
  margin: 0 auto;
  margin-top: 95px;
}
.culture_slide .slider.slider-nav .slide-cont h2 {
  font-size: 26px;
  color: #222222;
  font-family: Buri, serif;
  font-weight: bold;
}
.culture_slide .slider.slider-nav .slide-cont .slide-desc {
  font-size: 18px;
  margin-top: 11px;
  margin-bottom: 43px;
}
.home-intro .slick-pager ul {
  text-align: center;
}
.home-intro .slick-pager li {
  display: none;
}
.home-intro .slick-pager .l-wide {
  margin-left: 0;
  margin-right: 0;
}

/* .slide.corona .slide-h{display:none; }
.slide.corona .slide-h2{margin-top: .40541em; padding: 0 10px; color: #fff; font-size: 4.2em; letter-spacing: -.03em; opacity: 0;
    -webkit-transition: all .7s ease-out; -moz-transition: all .7s ease-out; -ms-transition: all .7s ease-out; -o-transition: all .7s ease-out; transition: all .7s ease-out;}
.slide.corona.slick-current .slide-h2{opacity: 1} */

@media (min-width: 48em) {
  .home-intro .slick-pager li {
    width: 24%;
    display: inline-block;
    float: none;
    vertical-align: middle;
  }
  .home-intro .slick-pager li.is-current {
    width: 24%;
  }
  /*.home-intro .slide.corona{background-size: cover; background-color: transparent; }
     .slide.corona .slide-placer{display:none; } */

  .slider .slide-motion-img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: scale(1.1);
    opacity: 1;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
}
