<ul class="header-sns">
  <li>
    <a href="https://www.instagram.com/kaist_elka/" target="_blank">
      <span class="name">인스타그램 바로가기</span>
    </a>
  </li>
  <li>
    <a href="https://www.youtube.com/watch?v=oWRA3dgQRws" target="_blank">
      <span class="name">ELKA 공연 영상</span>
    </a>
  </li>
</ul>

<a
  href="#h-search"
  class="search-a"
  data-rel="toggle"
>
  <i class="icon-search"></i
  ><span class="blind">Total Search</span>
</a>
<div class="search">
  <form name="" action="./search.html">
    <div
      id="h-search"
      class="header-ly"
      tabindex="0"
      style="outline: none 0px; display: none"
    >
      <label for="header-search" class="blind">Search</label>
      <input
        id="header-search"
        name="q"
        type="search"
        class="search-input"
      />
      <button
        type="submit"
        class="search-go"
      >
        <i
          class="icon-search"
        ></i
        ><span class="blind">돋보기</span>
      </button>
      <a href="#header" class="close-layer">
        <i class="icon-close"></i><span class="blind">X</span>
      </a>
    </div>
    <input type="hidden" name="_charset_" value="UTF-8" />
  </form>
</div>
<a href="#sidenav" id="toggle-menu" class="toggle-menu">
  <i class="icon-menu"></i><span class="blind">Menu</span>
</a>
