<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-Compatible" content="IE=edge" />

    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0"
    />
    <meta name="format-detection" content="telephone=no" />
    <meta
      name="google-site-verification"
      content="PeX6oe694P5ZKeQHe7uvjfsKUihJZbehjryhBTKy0M0"
    />
    <meta
      name="naver-site-verification"
      content="20206ed18146fde903349515e49a17d21aa9aad9"
    />

    <title>Total Search | 아모레퍼시픽</title>
    <meta
      id="metaOgTitle"
      name="title"
      property="og:title"
      content="Total Search | 아모레퍼시픽"
    />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/int/ko/resource/images/favicon.ico"
    />
    <link rel="stylesheet" href="/assets/fonts/fonts.css" />
    <!-- ./css/fonts.css -->
    <link rel="stylesheet" href="/css/style.css" />
    <!--./css/style.css -->

    <!--[if lt IE 9
      ]><link rel="stylesheet" href="/int/ko/resource/css/legacy.css"
    /><![endif]-->
    <!--./css/legacy.css -->

    <link rel="stylesheet" href="/int/ko/resource/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/int/ko/resource/css/global.css" />
    <link rel="stylesheet" href="/int/ko/resource/css/career.css" />
    <link rel="stylesheet" href="/int/ko/resource/css/global_network.css" />

    <script
      type="text/javascript"
      src="/int/ko/resource/js/lib/jquery-1.11.2.min.js"
    ></script>
    <!-- ./js/lib/jquery-1.11.2.min.js GA 태깅용 Jquery -->
    <script
      type="text/javascript"
      src="/int/ko/resource/js/lib/modernizr.custom.min.js"
    ></script>
    <!-- ./js/lib/modernizr.custom.min.js -->
    <script src="https://unpkg.com/split-type"></script>
  </head>

  <body>
    <!-- Google Tag Manager -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-5TPHQLL"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager -->
    <!-- Google Tag Manager (noscript) 20240222-->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-W66WKRKZ"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) 20240222-->
    <script>
      var mobileArr = new Array(
        "iPhone",
        "iPod",
        "iPad",
        "BlackBerry",
        "Android",
        "Windows CE",
        "LG",
        "MOT",
        "SAMSUNG",
        "SonyEricsson"
      );
      var mobileChk = "PC";

      for (var mi in mobileArr) {
        if (navigator.userAgent.match(mobileArr[mi]) != null) {
          mobileChk = "MOBILE";
        }
      }

      var dataLayer = dataLayer || [];

      var AP_SEARCH_TERM = "";
      var AP_SEARCH_NUM = "";
      var AP_SEARCH_TYPE = "";
      var AP_SEARCH_PRDRESULT = "";

      var AP_DATA_GCID = undefined;
      var AP_DATA_CID = undefined;
      var AP_DATA_ISMEMBER = undefined;
      var AP_DATA_ISLOGIN = "N";
      var AP_DATA_LOGINTYPE = undefined;
      var AP_DATA_CA = "";
      var AP_DATA_CD = undefined;
      var AP_DATA_CG = undefined;
      var AP_DATA_CT = undefined;
      var AP_DATA_SITENAME = "APGROUP";
      var AP_DATA_CHANNEL = mobileChk; //PC,MOBILE,APP
      var AP_DATA_PAGENAME = document.title; //
      var AP_DATA_PAGETYPE = "SEARCH_RESULT";
      var AP_DATA_COUNTRY = "int".toUpperCase();
      var AP_DATA_LANG = "ko".toUpperCase();
      var AP_DATA_BREAD = "HOME  > util  > Total Search"; //Breadcrumb Trail값
      var AP_DATA_ENV = location.hostname.indexOf("dev-") == -1 ? "PRD" : "DEV";
      var AP_PROMO_ID = undefined;
      var AP_PROMO_NAME = undefined;
      var AP_DATA_BEAUTYCT = undefined;
      var AP_DATA_ISEMPLOYEE = undefined;
    </script>
    <a href="#main" id="skipnav">Skip to main content</a>
    <div id="wrap">
      <header id="header" class="header">
        <div class="l-header">
          <h1 class="logo">
            <a
              href="/index.html"
              class="logo-a"
            >
              <img
                src="/int/ko/resource/images/a/amorepacific.png"
                alt="ELKA"
              />
            </a>
          </h1>
          <div class="utils"></div>
        </div>
        <nav id="gnb" class="gnb">
          <h1 class="blind">Amorepacific</h1>
          <ul id="gnb-menu" class="gnb-menu"></ul>
        </nav>
      </header>

      <div class="content static parbase">
        <main id="main" class="main">
          <header class="content-header">
            <div class="l-wrap">
              <div class="content-header-cell">
                <h1 class="h h--en">Total Search</h1>
              </div>
            </div>
          </header>

          <div class="search">
            <div class="l-wrap">
              <div class="l-narrow">
                <p class="search-result">
                  &lsquo;<span id="txtSearch"></span>&rsquo;<span
                    >의 검색결과
                  </span>
                </p>
                <form
                  action="/int/ko/misc/search/search.html"
                  id="search-form"
                  class="search-form"
                >
                  <div class="search-form-item">
                    <label for="search" class="blind">검색어</label>
                    <input
                      type="search"
                      id="search"
                      name="q"
                      class="input"
                      placeholder="검색어를 입력해주세요."
                    />
                    <input type="hidden" name="_charset_" value="UTF-8" />
                    <button type="submit" class="go-search">
                      <i class="icon icon-search"></i
                      ><span class="blind">Search</span>
                    </button>
                  </div>
                </form>
                <section class="search-section" id="articleSection">
                  <div class="search-section-page common">
                    <h2 class="h2 h2--en">Page</h2>
                    <div class="item" id="articleResultDiv">
                      <div class="item-line">
                        <p>검색 결과가 없습니다.</p>
                      </div>
                    </div>
                    <div class="pagination" id="pagingPage"></div>
                  </div>
                </section>
                <section class="search-section" id="newsSection">
                  <div class="search-section-news common">
                    <h2 class="h2 h2--en">News</h2>
                    <div class="item" id="newsResultDiv">
                      <div class="item-line">
                        <p>검색 결과가 없습니다.</p>
                      </div>
                    </div>
                    <div class="pagination" id="pagingNews"></div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </main>
      </div>

      <footer id="footer" class="footer">
        <div class="l-wrap">
          <a id="go-to-top" href="#main" class="btn-r btn-r-gotop">
            <i class="icon icon-arrow-top"></i>
            <br />
            <!-- <span>TOP</span> -->

            <span>TOP</span>
          </a>
          <div class="footer-links">
            <h2 class="footer-links-h blind">FOOTER MENUS</h2>
            <div class="footer-links-list">
              <a href="#" target="_blank" class="footer-links-a">blank</a>
            </div>
          </div>
          <div class="footer-share">
            <!-- <h2 class="footer-share-h">FOLLOW US ON</h2> -->

            <h2 class="footer-share-h">FOLLOW US ON</h2>

            <div class="footer-share-list sns">
              <a
                href="https://www.facebook.com/amorepacific.official/"
                target="_blank"
                class="footer-share-a logo-a sns_icon_wrap"
                title="Facebook"
              >
                <div class="sns_icon facebook">
                  <img
                    src="/int/ko/resource/images/a/facebook.png"
                    alt="facebook"
                  />
                  <img
                    src="/int/ko/resource/images/a/facebook_over.png"
                    alt="facebook"
                    class="over_img"
                  />
                </div>
                <span class="blind">facebook</span>
              </a>
              <a
                href="https://www.linkedin.com/company/amorepacific/"
                target="_blank"
                class="footer-share-a logo-a sns_icon_wrap"
                title="Linkedin"
              >
                <div class="sns_icon linked_in">
                  <img
                    src="/int/ko/resource/images/a/linked_in.png"
                    alt="linked_in"
                  />
                  <img
                    src="/int/ko/resource/images/a/linked_in_over.png"
                    alt="linked_in"
                    class="over_img"
                  />
                </div>
                <span class="blind">linked_in</span>
              </a>
              <a
                href="https://www.instagram.com/amorepacificgroup.official"
                target="_blank"
                class="footer-share-a logo-a sns_icon_wrap"
                title="Instagram"
              >
                <div class="sns_icon insta">
                  <img
                    src="/int/ko/resource/images/a/insta.png"
                    alt="instagram"
                  />
                  <img
                    src="/int/ko/resource/images/a/insta_over.png"
                    alt="instagram"
                    class="over_img"
                  />
                </div>
                <span class="blind">instagram</span>
              </a>
              <a
                href="https://www.youtube.com/c/AmorepacificGroup"
                target="_blank"
                class="footer-share-a logo-a sns_icon_wrap"
                title="Youtube"
              >
                <div class="sns_icon youtube">
                  <img
                    src="/int/ko/resource/images/a/youtube.png"
                    alt="youtube"
                  />
                  <img
                    src="/int/ko/resource/images/a/youtube_over.png"
                    alt="youtube"
                    class="over_img"
                  />
                </div>
                <span class="blind">youtube</span>
              </a>
              <a
                href="https://stories.amorepacific.com/"
                target="_blank"
                class="footer-share-a logo-a sns_icon_wrap"
                title="AMORE STORIES"
              >
                <div class="sns_icon square">
                  <img
                    src="/int/ko/resource/images/a/square.png"
                    alt="AMORE STORIES"
                  />
                  <img
                    src="/int/ko/resource/images/a/square_over.png"
                    alt="AMORE STORIES"
                    class="over_img"
                  />
                </div>
                <span class="blind">AMORE STORIES</span>
              </a>
            </div>
          </div>

          <p class="copyright">
            &copy; Since 1945 Amorepacific, All Rights Reserved.
          </p>
        </div>
      </footer>
      <!-- #footer -->
    </div>
    <!-- Div Wrap Close Tag -->

    <nav id="sidenav" role="navigation" class="sidenav">
      <div class="sidenav-pad">
        <h1 class="logo">
          <a
            href="/int/ko/index.html"
            class="logo-a"
          >
            <img
              src="/int/ko/resource/images/a/amorepacific_s.png"
              class="logo-img"
              alt="아모레퍼시픽"
            />
          </a>
        </h1>
        <ul id="nav" class="nav"></ul>
      </div>
    </nav>

    <script type="text/javascript" src="/int/ko/resource/js/config.js"></script>
    <!-- /js/config.js -->
    <script
      type="text/javascript"
      src="/int/ko/resource/js/lib/require.min.js"
      data-main="pages/common"
    ></script>
    <!-- /js/lib/require.min.js -->
  </body>
</html>
<script>
  require(["jquery", "ui", "utils/iScript", "utils/api"], function (
    $,
    IG,
    ion,
    API
  ) {
    let queryParam = ion.getParameter("q") || "";
    let typeParam = ion.getParameter("t") || "";
    let curPage = parseInt(ion.getParameter("p") || 0);
    let listCnt = 10;
    let startCnt = 0;
    let collection = "";
    if (typeParam === "brand_product") {
      collection = "brand_product";
      listCnt = 4;
      startCnt = curPage * listCnt;
      $("#articleSection").remove();
    } else if (typeParam === "brand_page") {
      collection = "brand_page";
      listCnt = 10;
      startCnt = curPage * listCnt;
      $("#newsSection").remove();
    }
    $(".go-search").on("click", function () {
      var query = $("#search").val();
      if (query.trim() == "") {
        IG.UI.popupNotification({
          msg: "검색어를 입력해주세요.",
          type: "error",
          timer: 3000,
        });
        $(".go-search").focus();
        return false;
      }
    });
    init();
    function init() {
      // search 페이지 검색
      var queryText = decodeURIComponent(queryParam.replace(/\+/gi, " "));
      queryText = replaceString(queryText);

      if (_.isEmpty(queryText)) {
        $(".search-result").hide();
        $("#txtSearch").html("");
        $("#header-search").attr("value", "");
        $("#search").attr("value", "");
      } else {
        $("#txtSearch").html(queryText);
        $("#header-search").attr("value", queryText);
        $("#search").attr("value", queryText);
      }
      let config = {
        query: queryParam,
        collection: collection,
        listCnt: listCnt,
        startCnt: startCnt,
      };
      API.search(config, function (result) {
        let data = result.data;
        let totalCnt = 0;
        for (let i = 0; i < data.length; i++) {
          if (data[i].CollName === "brand_product") {
            drawProductList(data[i]);
          }
          if (data[i].CollName === "brand_page") {
            drawSiteList(data[i]);
          }
          totalCnt += data[i].TotalCount;
        }
        //GA tagging event Start
        window.AP_SEARCH_TERM = queryText;
        //window.AP_SEARCH_PRDRESULT = "";
        window.AP_SEARCH_NUM = totalCnt;
        window.AP_SEARCH_TYPE = "직접입력";
        window.AP_SEARCH_RESULT = totalCnt > 0 ? "Y" : "N";
        dataLayer.push({ event: "search" });
        //GA tagging event End
      });
    }
    function drawProductList(jData) {
      let cnt = 0;
      let txt = "";
      $("#productTotal").html(jData.TotalCount);
      if (jData.TotalCount == 0) {
        txt += '		<div class="item-line">';
        txt += "           <p>검색 결과가 없습니다.</p>";
        txt += "        </div>";
      } else {
        for (let i = 0; i < jData.Result.length; i++) {
          if (cnt < 4) {
            txt += '       <div class="item-line">';
            txt += '           <a href="' + jData.Result[i].loc + '">';
            txt += '               <div class="thumb">';
            txt +=
              '                   <img src="' +
              jData.Result[i].image +
              '" alt="">';
            txt += "               </div>";
            txt += '               <div class="desc">';
            txt +=
              '                   <h3 class="h3">' +
              convertHighLight(jData.Result[i].title) +
              "</h3>";
            txt +=
              "                   <p>" +
              convertHighLight(jData.Result[i].description) +
              "</p>";
            txt +=
              '                   <span class="day">' +
              jData.Result[i].DATE +
              "</span>";
            txt += "               </div>";
            txt += '               <div class="func">';
            txt += '                   <div class="func-cell">';
            txt +=
              '                       <button class="btn-r btn-r-right"><span class="blind">자세히 보기</span></button>';
            txt += "                   </div>";
            txt += "               </div>";
            txt += "           </a>";
            txt += "       </div>";
            cnt++;
          }
        }
        /** 페이징 */
        $("#pagingNews").html("");
        buildPaging(
          jData.TotalCount,
          curPage + 1,
          4,
          10,
          $("#pagingNews"),
          "brand_product"
        );
      }
      $("#newsResultDiv").html(txt);
    }
    function drawSiteList(jData) {
      let cnt = 0;
      let txt = "";
      $("#articleTotal").html(jData.TotalCount);
      if (jData.TotalCount == 0) {
        txt += '		<div class="item-line">';
        txt += "           <p>검색 결과가 없습니다.</p>";
        txt += "        </div>";
      } else {
        for (let i = 0; i < jData.Result.length; i++) {
          if (cnt < 10) {
            txt += '	<div class="item-line">';
            if (!jData.Result[i].loc) {
              txt += '	    <div id="jData.Result[i].loc" style="display:none">';
            } else {
              txt += '	    <a href="' + jData.Result[i].loc + '">';
            }

            txt += "	        <h3>" + jData.Result[i].title + "</h3>";
            txt +=
              "	        <p>" +
              convertHighLight(jData.Result[i].content) +
              "</p>";
            txt += '	        <div class="func">';
            txt += '	            <div class="func-cell">';
            txt +=
              '	                <button class="btn-r btn-r-right"><span class="blind">자세히 보기</span></button>';
            txt += "	            </div>";
            txt += "	        </div>";
            txt += "	    </a>";
            txt += "	</div>";
            cnt++;
          }
        }
        /** 페이징 */
        $("#pagingPage").html("");
        buildPaging(
          jData.TotalCount,
          curPage + 1,
          10,
          10,
          $("#pagingPage"),
          "brand_page"
        );
      }
      $("#articleResultDiv").html(txt);
    }
    function buildPaging(
      count,
      curPage,
      entriesPerPage,
      pagesPerGroup,
      pageNation,
      type
    ) {
      var paging = new Paging(count, curPage, entriesPerPage, pagesPerGroup);
      var pages = paging.pages();
      var nextpage = curPage;
      var prevpage = curPage - 2;
      var firstpage = 0;
      var lastPage = paging.lastPage();
      var curGroup = paging.getCurGroup();
      var $p = "";
      var $pp = "";
      if (curPage > 1) {
        $pp +=
          '                             <a href="/int/ko/misc/search/search.html?_charset_=UTF-8&q=' +
          queryParam +
          "&t=" +
          type +
          "&p=" +
          firstpage +
          '" class="page-start"><i class="icon icon-arrow-start"></i><span class="blind">latest</span></a>';
        $pp +=
          '                             <a href="/int/ko/misc/search/search.html?_charset_=UTF-8&q=' +
          queryParam +
          "&t=" +
          type +
          "&p=" +
          prevpage +
          '" class="page-prev"><i class="icon icon-arrow-left"></i><span class="blind">previous</span></a>';
      } else {
        $pp +=
          '                             <span class="page-start"><i class="icon icon-arrow-start"></i><span class="blind">latest</span></span>';
        $pp +=
          '                             <span class="page-prev"><i class="icon icon-arrow-left"></i><span class="blind">previous</span></span>';
      }
      pageNation.append($pp);
      if (pages.length) {
        $p += '                               <span class="page-wrap">';
        for (var i = 0, l = pages.length; i < l; i++) {
          var p = pages[i];
          var linkp = p - 1;
          if (p === curPage) {
            $p +=
              '                                    <a href="javascript:void(0);"><span class="page is-current">' +
              p +
              "</span></a>";
          } else {
            $p +=
              '                                    <a href="/int/ko/misc/search/search.html?_charset_=UTF-8&q=' +
              queryParam +
              "&t=" +
              type +
              "&p=" +
              linkp +
              '"><span class="page">' +
              p +
              "</span></a>";
          }
        }
        $p += "                               </span>";
        pageNation.append($p);
      }
      var $np = "";
      if (curPage < lastPage) {
        lastPage = lastPage - 1;
        $np +=
          '                             <a href="/int/ko/misc/search/search.html?_charset_=UTF-8&q=' +
          queryParam +
          "&t=" +
          type +
          "&p=" +
          nextpage +
          '" class="page-next"><i class="icon icon-arrow-right"></i><span class="blind">next</span></a>';
        $np +=
          '                             <a href="/int/ko/misc/search/search.html?_charset_=UTF-8&q=' +
          queryParam +
          "&t=" +
          type +
          "&p=" +
          lastPage +
          '" class="page-end"><i class="icon icon-arrow-end"></i><span class="blind">first</span></a>';
      } else {
        $np +=
          '                             <span class="page-next"><i class="icon icon-arrow-right"></i><span class="blind">next</span></span>';
        $np +=
          '                             <span class="page-end"><i class="icon icon-arrow-end"></i><span class="blind">first</span></span>';
      }
      pageNation.append($np);
    }
    function Paging(count, curPage, entriesPerPage, pagesPerGroup) {
      /*
                count : 총갯수
                curPage : 현재페이지
                entriesPerPage : 페이지별 컨텐트 갯수
                pagesPerGroup : 페이지그룹
             */
      var lastPage = Math.ceil(count / entriesPerPage);
      var curGroup = Math.ceil(curPage / pagesPerGroup) - 1;
      var startPage = curGroup * pagesPerGroup + 1; // 현재 그룹의 첫번째 페이지
      this.pages = function () {
        var arr = [];
        for (var i = 0, l = pagesPerGroup; i < l; i++) {
          var pp = i + startPage;
          if (pp <= lastPage) {
            arr[i] = pp;
          }
        }
        return arr;
      };
      this.getCurGroup = function () {
        return curGroup;
      };
      this.isFirst = function () {
        return curPage == 1;
      };
      this.isLast = function () {
        return curPage == lastPage;
      };
      this.lastPage = function () {
        return lastPage;
      };
    }
    function convertHighLight(str) {
      let res = str.replace(/<!HS>/g, "<mark>");
      res = res.replace(/<!HE>/g, "</mark>");
      return res;
    }

    //  XSS 관련 스크립트 패치
    function replaceString(str) {
      var returnValue = "";
      if (str == null) {
        returnValue = "";
      } else {
        str = str
          .toString()
          .replace(/<(\/)?([a-zA-Z]*)(\s[a-zA-Z]*=[^>]*)?(\s)*(\/)?>/gi, "");
        str = str.toString().replace(/\r|\n|&nbsp;/gi, "");
        str = str
          .toString()
          .replace(
            /script|object|applet|embed|form|alert|href|cookie|input|src|fromcharcode|encodeuri|encodeuricomponent|expression|iframe|window|location|style|eval/gi,
            ""
          );
        str = str
          .toString()
          .replace(
            /onclick|ondblclick|onmousedown|onmousemove|onmouseout|onmouseup|onmouseover|onmouseleave|onkeydown|onkeypress|onkeyup|onblur|onchange|onfocus|onreset|onselect|onsubmit|onload|onresize|onunload/gi,
            ""
          );
        str = str.toString().replace(/&/gi, "&amp;");
        str = str.toString().replace(/&/gi, "&amp;");
        str = str.toString().replace(/</gi, "&lt;");
        str = str.toString().replace(/>/gi, "&gt;");
        str = str.toString().replace(/\'/gi, "&apos;");
        str = str.toString().replace(/\"/gi, "&quot;");
        str = str.toString().replace(/%22/gi, "-");
        str = str.toString().replace(/%2C/gi, "");
        str = str.toString().replace(/%2/gi, "");
        str = str.toString().replace(/'/gi, "''");
        str = str.toString().replace(/\"/gi, "-");
        str = str.toString().replace(/onmouse/gi, "-");
        str = str.toString().replace(/alert/gi, "-");
        returnValue = str;
      }
      return returnValue;
    }
  });
</script>
